body {
    background-color: black;
    color: #56bf14;
    font-family: 'Pacifico', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
}
.nav .nav-link.active  {
    background: none;
    color: #56bf14;
    border-bottom: solid 1px #56bf14;
    border-radius: 0px;
}

.nav-link {color: #56bf14;
}

.nav-link:hover {
    color: #d32c89;
    transition: 0.7s;
}



#logo {
    margin-top: 90px;
}

#section1 {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#carousel-exemplo {
    max-width: 1000px;
}
